Package: com.ia7myd.desqueeze
Name: Desqueeze Hack (In App)
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Full Features for Desqueeze App
Maintainer: A7med.y
Author: A7med.y
Section: Tweaks
Version: 0.0.1
Installed-Size: 120
Depiction: http://ia7myd.github.io/depictions/?p=com.ia7myd.desqueeze
